<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.boardver3.board.BoardMapper">
    <insert id="insBoard">
        INSERT INTO t_board
        (title, ctnt, iuser)
        VALUES
        (#{title}, #{ctnt}, #{iuser})
    </insert>
    <select id="selBoardAll" resultType="BoardVo">
        SELECT *
        FROM t_board
        ORDER BY iboard DESC
        LIMIT ${startIdx} ,${rowLen}
    </select>
    <select id="selMaxBoard" resultType="BoardVo">
        SELECT COUNT(iboard)
        FROM t_board
    </select>



</mapper>