<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.boardver3.cmt.CmtMapper">
    <insert id="insCmt"
            useGeneratedKeys="true"
            keyProperty="iboardCmt">
        INSERT INTO t_board_cmt
        (iboard, iuser, ctnt)
        VALUES
        (#{iboard}, #{iuser}, #{ctnt})

    </insert>
    <select id="selCmt" resultType="CmtVo">
        SELECT A.iboardcmt,A.iboard,A.iuser,A.ctnt,A.created_At createdAt,
        B.nm wrtier,B.main_pic writerMainPic
        FROM t_board_cmt A
        INNER JOIN t_user B
        ON A.iuser = B.iuser
        WHERE A.iboard=#{iboard}
        LIMIT #{startIdx},#{row}
    </select>
    <select id="max" resultType="int">
        Select count(iboardcmt)
        from t_board_cmt
        where iboardcmt = #{iboardcmt}

    </select>

    <delete id="delCmt">
        DELETE from t_board_cmt
        WHERE
        <if test="iboardCmt > 0 and iuser > 0">
            iboardCmt = #{iboardCmt}
            AND iuser = #{iuser}
        </if>
        <if test="iboard > 0">
            iboard = #{iboard}
        </if>
    </delete>
    <update id="upCmt">
        UPDATE t_board_cmt
        SET
        ctnt =#{ctnt},
        updated_at = current_timestamp()
        where iboardCmt = #{iboardCmt} and iuser =#{iuser}

    </update>
</mapper>